html, body, form {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    color: black;
    font-size: 12px;
}

a {
    color: black;
}

    a:visited {
        color: black;
    }

    a:hover {
        color: black;
        text-decoration: underline;
    }

p {
    font-weight: bold;
}

.menu {
    padding: 5px;
    text-align: right;
}

    .menu a {
        color: blue;
    }

        .menu a:visited {
            color: blue;
        }

.content {
    padding: 5px;
}

.left {
    float: left;
}

.size {
    float: right;
    border: solid 1px gray;
    padding: 0 10px;
}

.clear {
    clear: both;
}
