body {
    font-family: Arial;
    color: black;
    font-size: 12px;
}

a {
    color: blue;
}

    a:visited {
        color: blue;
    }

    a:hover {
        color: black;
        text-decoration: underline;
    }

p {
    font-weight: bold;
}

.menu {
    padding-bottom: 5px;
    text-align: right;
    width: 100%;
}
