html, body, form {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    color: black;
    font-size: 12px;
    background-color: white;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

    a:hover {
        color: blue;
        text-decoration: underline;
    }

p {
    font-weight: bold;
}

.menu {
    padding: 5px;
    text-align: right;
}

.content {
    padding: 5px;
}

.left {
    float: left;
    padding-bottom: 5px;
}

.right {
    float: right;
    padding-bottom: 5px;
}

.size {
    position: absolute;
    top: -7px;
}

.clear {
    clear: both;
}

.panel {
    border: 1px solid lightgray;
    width: 390px;
    height: 30px;
    line-height: 30px;
    padding: 15px;
    margin-top: 15px;
    font-size: 20px;
    color: lightgray;
    background-color: #FFFFFF00;
    position: relative;
    z-index: 3012;
}

/* Dark Theme --------------------------------------------------------------------------------------------------------------------------------- */

.theme-dark body {
    background-color: #062D4C !important;
    color: #FFFFFFCC;
}

.theme-dark a {
    color: #FFFFFFCC;
}

    .theme-dark a:hover {
        color: #FFF;
    }

.theme-dark hr {
    border-color: #36556E;
}

/* Dark Theme end ----------------------------------------------------------------------------------------------------------------------------- */
