<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings configSource="appSettings.config"></appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="51200" executionTimeout="600" />
    <pages>
      <controls>
        <add tagPrefix="mafs" namespace="Micajah.AzureFileService.WebControls" assembly="Micajah.AzureFileService"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <handlers>
      <add path="mafs.axd" verb="GET" type="Micajah.AzureFileService.Handlers.ResourceHandler, Micajah.AzureFileService" preCondition="integratedMode" name="Micajah.AzureFileService.ResourceHandler" />
    </handlers>
  </system.webServer>
</configuration>
