<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="mafs:StorageConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="mafs:SharedAccessExpiryTime" value="60"/>
    <add key="mafs:TemporaryContainerName" value="micajahazurefileservicetemp"/>
    <add key="mafs:ClientCacheExpiryTime" value="144000"/>
    <add key="mafs:MaxFileSize" value="52428800"/>
  </appSettings>
  <system.web>
    <globalization culture="en-US"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="51200" executionTimeout="600" />
    <customErrors mode="Off"></customErrors>
    <pages>
      <controls>
        <add tagPrefix="mafs" namespace="Micajah.AzureFileService.WebControls" assembly="Micajah.AzureFileService"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <handlers>
      <add path="mafsr.axd" verb="GET" type="Micajah.AzureFileService.ResourceHandler, Micajah.AzureFileService" preCondition="integratedMode" name="Micajah.AzureFileService.ResourceHandler" />
      <add path="mafsf.axd" verb="GET" type="Micajah.AzureFileService.FileHandler, Micajah.AzureFileService" preCondition="integratedMode" name="Micajah.AzureFileService.FileHandler" />
    </handlers>
  </system.webServer>
</configuration>
