<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Micajah.AzureFileService.Cors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Micajah.AzureFileService.Cors.Properties.Settings.StorageConnectionString"
      connectionString="DefaultEndpointsProtocol=https;AccountName=micajah1;AccountKey=TsxyTMtUj1014DoQzwHNtM9b2xGJMEr0/B8NEquPh2rYz2I5cgfn11T6gzxzH3ygSTCz7yN+0KOGOSKk6J+tYg==" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <applicationSettings>
    <Micajah.AzureFileService.Cors.Properties.Settings>
      <setting name="AllowedOrigins" serializeAs="String">
        <value>http://localhost:2054</value>
      </setting>
    </Micajah.AzureFileService.Cors.Properties.Settings>
  </applicationSettings>
</configuration>
