<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Micajah.AzureFileService.Properties.Settings.StorageConnectionString"
            connectionString="UseDevelopmentStorage=true" />
    </connectionStrings>
</configuration>