.dropzone .dz-default {
    border: 5px dashed #ccc;
    width: 99%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    color: #ccc;
}

.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone .dz-default span {
    margin-top: 100px;
    display: inline-block;
    font-family: Arial;
    font-size: 18px;
}
