.flGrid td, .flGrid a,
.flThumbs td, .flThumbs a,
.flToolTip, .flToolTip a,
.flFiles {
    font-family: Arial;
    font-size: 14px;
    color: black;
}

.flGrid td {
    padding-right: 10px;
}

    .flGrid td img {
        vertical-align: bottom;
    }

    .flGrid td.flFirst, .flCpt {
        padding-left: 22px;
    }

.flGrid a:hover {
    color: blue;
}

.flGrid a.flRemove:hover,
.flToolTip a.flRemove:hover,
.flFiles a.flRemove:hover {
    color: red !important;
}

.flGrid tr {
    vertical-align: bottom;
}

    .flGrid tr a.flRemove {
        visibility: hidden;
    }

    .flGrid tr:hover a.flRemove {
        visibility: visible;
    }

    .flGrid tr.flPt td {
        padding-top: 10px;
    }

.flGrid .flDate {
    color: #6c6c6c;
    padding-bottom: 5px;
    position: relative;
    left: -19px;
}

    .flGrid .flDate.flIcons {
        left: -50px;
    }

.flThumbs * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .flThumbs *:before,
    .flThumbs *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

.flThumbs a {
    display: block;
}

    .flThumbs a:hover {
        color: black;
    }

.flThumbs div {
    border: solid 1px #cccccc !important;
    padding: 1px;
    margin: 0 5px 5px 0;
    text-align: center;
}

.flThumbs img {
    border: 0 none;
}

.flFiles a.flFileName, .flFiles a.flFileName:hover {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.flFiles .flLinks {
    padding: 7px 0 35px 0;
}

.flToolTip {
    text-align: center;
    line-height: 18px;
}

    .flToolTip a.flFileName, .flToolTip a.flFileName:hover {
        font-weight: bold;
        color: black;
    }

    .flToolTip .flFileInfo {
        font-size: 12px;
        color: #666666;
        display: block;
    }

    .flToolTip.s250 {
        width: 250px;
    }

    .flToolTip.s600x500 {
        width: 600px;
        height: 500px;
    }

        .flToolTip.s600x500 span {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        .flToolTip.s600x500 img {
            vertical-align: middle;
            max-height: 100%;
            max-width: 100%;
            border: 0 none;
        }

a.flLink {
    font-family: Arial;
    padding: 1px 2px 3px 2px;
    color: gray;
    display: inline-block;
    font-size: 12px;
}

    a.flLink:hover {
        padding: 1px 2px 3px 2px;
        color: White;
        background-color: #5c5c5c;
    }

/* opentip */
.style-mafs.opentip-container .opentip {
    padding: 15px 25px;
}

/* Dark Theme --------------------------------------------------------------------------------------------------------------------------------- */

.theme-dark .flGrid td, .theme-dark .flGrid a,
.theme-dark .flThumbs td, .theme-dark .flThumbs a,
.theme-dark .flToolTip, .theme-dark .flToolTip a,
.theme-dark .flFiles {
    color: #FFFFFF99;
}

    .theme-dark .flGrid a:hover {
        color: #FFF;
    }

.theme-dark .flGrid .flDate {
    color: #FFF;
}

.theme-dark .flGrid a.flRemove,
.theme-dark .flToolTip a.flRemove,
.theme-dark .flFiles a.flRemove {
    color: #FFF;
}

.theme-dark .flThumbs div {
    border-color: #FFFFFF26 !important;
}

.theme-dark .flToolTip a.flFileName, .theme-dark .flToolTip a.flFileName:hover,
.theme-dark .flFiles a.flFileName, .theme-dark .flFiles a.flFileName:hover {
    color: #FFF;
}

.theme-dark .flToolTip .flFileInfo {
    color: #FFFFFFAA;
}

.theme-dark a.flLink {
    color: #FFFFFFAA;
}

/* Dark Theme end ----------------------------------------------------------------------------------------------------------------------------- */
