.flGrid td, .flGrid a, .flThumbs td, .flThumbs a, .flToolTip, .flToolTip a, .flFiles {
    font-family: Arial;
    font-size: 11px;
    color: Black;
}

.flGrid td {
    padding-right: 10px;
}

.flGrid a.flFileName, .flGrid a.flFileName:hover {
    font-size: 12px;
}

.flGrid a:hover, .flThumbs a:hover {
    color: Blue;
}

.flGrid a.flRemove:hover, .flToolTip a.flRemove:hover, .flFiles a.flRemove:hover {
    color: Red;
}

.flGrid tr a.flRemove {
    visibility: hidden;
}

.flGrid tr:hover a.flRemove {
    visibility: visible;
}

.flGrid tr.flPt td {
    padding-top: 10px;
}

.flGrid td.flDate {
    color: #6c6c6c;
    font-size: 12px;
}

.flThumbs div {
    border: solid 1px #cccccc !important;
    padding: 1px;
    margin: 0 5px 5px 0;
    text-align: center;
}

.flThumbs img {
    border: 0 none;
}

.flFiles a.flFileName, .flFiles a.flFileName:hover {
    font-weight: bold;
    color: Black;
    text-decoration: none;
}

.flFiles div {
    padding: 7px 0 35px 0;
}

.flToolTip {
    text-align: center;
    line-height: 18px;
}

    .flToolTip a.flFileName, .flToolTip a.flFileName:hover {
        font-size: 12px;
        font-weight: bold;
    }

    .flToolTip .flFileInfo {
        font-size: 10px;
        color: #666666;
        display: block;
    }

    .flToolTip.s600x500 {
        width: 600px;
        height: 500px;
    }

    .flToolTip.s250 {
        width: 250px;
    }

a.flUploadFiles, a.flUploadFiles:hover, a.flCptCtrl, a.flCptCtrl:hover {
    font-size: 13px;
    color: Black;
    padding-bottom: 3px;
    display: inline-block;
}

    a.flCptCtrl, a.flCptCtrl:hover {
        font-size: 11px;
    }

        a.flUploadFiles:hover, a.flCptCtrl:hover {
            color: Blue;
        }

a.flLink {
    font-family: Arial;
    padding: 1px 2px 2px 2px;
    color: Gray;
}

    a.flLink:hover {
        padding: 1px 2px 2px 2px;
        color: White;
        background-color: #5c5c5c;
    }

/* opentip */
.style-mafs.opentip-container .opentip {
   padding: 15px 25px;
}
